{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

    <div class="card-body px-4 py-5 px-md-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline">
                    {{ form_row(registrationForm.email) }}
                    <div class="invalid-feedback">Veuillez saisir un nom</div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-outline">
                    {{ form_row(registrationForm.motdepasse)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline">
                    {{ form_row(registrationForm.nom) }}
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-outline">
                    {{ form_row(registrationForm.prenom) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                    {{ form_row(registrationForm.pseudo) }}
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                    {{ form_row(registrationForm.telephone) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                    {{ form_row(registrationForm.campus) }}
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">

                    {{ form_row(registrationForm.image) }}
                </div>
            </div>
        </div>
        {% if(is_granted('ROLE_ADMIN')) %}
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">

                    {{ form_row(registrationForm.roles) }}
                </div>
            </div>

            {% endif %}
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                    <button type="submit" class="btn btn-dark btn-lg">Inscrire</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
