{% extends 'base.html.twig' %}
{% block body %}
    {# A quoi ça sert ça ?
    {% set var ='<strong>titre en gras</strong>' %}
    {{ var | raw }} #}

    {% for s in sorties %}
        <table>
        <thead>
        <tr>
            <th> Nom de la sortie</th>
            <th> Date de la sortie </th>
            <th> Clôture </th>
            <th> Inscrits/Places</th>
            <th> Etat</th>
            <th> Inscrit</th>
            <th> Organisateur</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
    <td>{{ s.nom }}</td>
    <td>{{ s.dateHeureDebut | date}}</td>
    <td>{{ s.dateLimiteInscription | date}}</td>
    <td>{{ s.participants | length }}/ {{ s.nbInscriptionMax}}</td>
    <td>{{ s.etat.libelle }}</td>
    <td></td>
    <td>{{ s.organisateur.nom }}</td>
    <td></td>
        </tr>
       </tbody>
</table>
    {% endfor %}

    {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGA') ) %}
        <button  class="btn btn-primary"  onclick="window.location.href ='{{ path('sortie_create') }}' " >Créer une Sortie</button>
    {% endif %}
{% include('inc/recherche.html.twig') %}
{% endblock %}
{% block title %}{{ parent() }} | Home {% endblock%}
