{% extends 'base.html.twig' %}
{% block body %}
    {# A quoi ça sert ça ?
    {% set var ='<strong>titre en gras</strong>' %}
    {{ var | raw }} #}

    <div>{{ "now" | date( "d'm'Y") }}</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Nom de la sortie</th>
                <th scope="col"> Date de la sortie </th>
                <th scope="col"> Clôture </th>
                <th scope="col"> Inscrits/Places</th>
                <th scope="col"> Etat</th>
                <th scope="col"> Inscrit</th>
                <th scope="col"> Organisateur</th>
                <th scope="col"> Actions</th>
            </tr>
        </thead>
    {% for s in sorties %}
        <tbody>
            <tr scope="row">
                <td>{{ s.nom }}</td>
                <td>{{ s.dateHeureDebut | date}}</td>
                <td>{{ s.dateLimiteInscription | date}}</td>
                <td>{{ s.participants | length }}/ {{ s.nbInscriptionMax}}</td>
                <td>{{ s.etat.libelle }}</td>
                <td>

                </td>
                <td>{{ s.organisateur.nom }}</td>
                <td> {% if(is_granted(['ROLE_ORGA', 'ROLE_ADMIN'])) %}
                        {% if(s.etat.id !=1) %}
                            <a href="#">Annuler</a>
                            <a href="#">Afficher</a>
                        {% else %}
                            <a href="#">Modifier</a>
                            <a href="#">Publier</a>
                        {% endif %}
                    {% endif %}
                    {% if(is_granted('ROLE_USER')) %}
                         <a href="{{ path('user_inscription', {'id': s.id})}}">S'inscrire</a>
                        <a href="{{ path('user_desistement', {'id': s.id})}}">Se Désister</a>
                    {% endif %}
                </td>
            </tr>
       </tbody>
    {% endfor %}
</table>


    {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGA') ) %}
        <button  class="btn btn-primary"  onclick="window.location.href ='{{ path('sortie_create') }}' " >Créer une Sortie</button>
    {% endif %}
{% include('inc/recherche.html.twig') %}
{% endblock %}
{% block title %}{{ parent() }} | Home {% endblock%}
