{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <br><h1 style="text-align: center">Gérer les lieux</h1><hr>
    </div><br>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{#    <h3>Filtrer les lieux</h3>#}
{#    <div class="input-group mb-3">#}
{#        <input type="text" id="searchWord" class="form-control" placeholder="ex : Balade, velo, parc ..." aria-label="Recipient's username" aria-describedby="basic-addon2">#}
{#        <div class="input-group-append">#}
{#            <button class="btn btn-outline-primary" type="button">Rechercher</button>#}
{#        </div>#}
{#    </div>#}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <td scope="col">Lieu</td>
            <td scope="col">Rue</td>
            <td scope="col">Ville</td>
            <td scope="col">Latitude</td>
            <td scope="col">Longitude</td>
            <td scope="col"></td>
        </tr>
        {% for l in lieu %}
            <tr>
                <td scope="col">{{ l.nom }}</td>
                <td scope="col">{{ l.rue }}</td>
                <td scope="col">
                    {% for v in ville %}
                        {% if (l.ville == v) %}
                            {{ v.nom}}
                            {{ v.codepostal }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td scope="col">{{ l.latitude }}</td>
                <td scope="col">{{ l.longitude }}</td>
                <td scope="col">
                    <button class="btn btn-warning btn-sm " onclick="window.location.href ='{{ path('lieu_modif', {'id': l.id}) }}'" >Modifier</button>
                    <button class="btn btn-danger btn-sm " onclick="if (confirm('Voulez-vous supprimer ce lieu ?')) {window.location.href ='{{ path('lieu_supprimer', {'id': l.id}) }} ' }" >Supprimer</button>
                </td>

            </tr>
        {% endfor %}
        </thead>
        <tbody id="tBody">

    </table>

    <button  class="btn btn-primary"  onclick="window.location.href ='{{ path('lieu_ajout') }}' " >Créer un nouveau lieu</button>

{% endblock %}

{% block title %}
    Gérer les lieux de sortie |  {{ parent() }}
{% endblock %}
