{% extends 'base.html.twig' %}

{%  block title %} Annuler : {{ sortie.nom |upper }} |  {{ parent() }}{%  endblock %}

{% block body %}

    <h2 class="text-center">Annulation de la sortie : {{ sortie.nom }}</h2>
    <br>
    <div class="card-body px-4 py-5 px-md-5" align="center">

            <div class="col-md-6 mb-4">
                <label for="nom">Nom : </label> {{ sortie.nom | capitalize}}
            </div>
            <div class="col-md-6 mb-4">
                <label for="nom" >Campus  : </label> {{ campus.nom |capitalize}}
            </div>

            <div class="col-md-6 mb-4">
                <label for="dateSortie">Date et heur de la sortie : </label> {{ dateSortie }}
            </div>
            <div class="col-md-6 mb-4">
                <label for="lieu">Lieu : </label> {{ lieu.nom |capitalize}}
            </div>

            <div class="col-md-6 mb-4">
                <label for="dateLimit">Rue : </label> {{ lieu.rue }} , {{ lieu.ville}}
            </div>
        <form action="{{ path('sortie_confirm_annulation', {'id': sortie.id}) }}" method="POST">
            <label for="motif">Motif d'annulation :</label>
            <textarea id="motif" name="motif" class="form-control form-control-m" required> {{ sortie ? sortie.modifAnnulation : ""  }}</textarea>
            <button type="submit" class="btn btn-danger"> Annuler la sortie </button>


    </div>


{% endblock %}