{% extends 'base.html.twig' %}

{% block body %}

    {% if sortie.nom != null %}
        <h1 class="text-center">Modification de la sortie  </h1>
    {% else %}
         <h1 class="text-center">Organiser une nouvelle sortie ! </h1>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error.value }}</div>
    {% endif %}
{{ form_start(sortieForm)}}
<div class="card-body px-4 py-5 px-md-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
                {{ form_row(sortieForm.nom) }}
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
                {{ form_row(sortieForm.dateHeureDebut) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">

            {{ form_row(sortieForm.duree) }}
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
            {{ form_row(sortieForm.dateLimiteInscription) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
            {{ form_row(sortieForm.nbInscriptionMax) }}
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
            {{ form_row(sortieForm.infosSortie) }}

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline mb-4">
        {% if sortie.nom != null %}
            {{ form_widget(sortieForm.campus)}}
        {% else %}
            <input type="text" class ="form-control form-control-m" value="{{ campus.nom }}" readonly>
            {{ form_widget(sortieForm.campus,{'attr': {'class': 'd-none'} }) }}

        {% endif %}
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline mb-4">
        {{ form_row(sortieForm.lieu) }}
        </div>
    </div>
</div>
    <div class="col-8">
                 {{ form_widget(sortieForm.enregistrer) }}
                 {{ form_widget(sortieForm.publier) }}
                 <button class="btn btn-danger" onclick="window.location.href ='{{ path('main_home') }}'" >Annuler</button>
    </div>

    {{ form_end(sortieForm) }}



{% endblock %}

{% block title %}
    Organiser une sortie |  {{ parent() }}
{% endblock %}
