<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Go Out !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {#   <!--====== Title ======-->
        <title>404 Page | ClassiList Classified Ads Template</title>#}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{asset('css/classilist/assets/css/bootstrap-5.0.5-alpha.min.css')}}" rel="stylesheet">
        <link href="{{asset('css/classilist/assets/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/app.css')}}" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                   {# Je vais plutôt inclure le logo dans la bar de nav, beaucoup de sites font ça.
                   <div class="col">
                        <h1 class="header-logo">
                            <a href="{{ path('main_home') }}" title="Go back to homepage">
                                <img src="{{ asset('img/logorecolor.png') }}" alt="Go out Logo">
                            </a>
                        </h1>
                    </div>
                    <div class="col"> #}
                        {% include('inc/nav.html.twig') %}
                    {# </div> #}
                </div>
                <div class="row">
                    {% include('inc/navadmin.html.twig') %}
                </div>
            </div>
        </header>
        <main class="bg-custom-color p-4">
            <div class="container text-center">
                {% block body %}{% endblock %}
            </div>
        </main>
    {# pied-de-page du site #}
    <footer class="container-fluid">
            © Go out ! (project) {{ "now"|date("Y") }}
    </footer>
    <link href="{{ asset('css/classilist/assets/js/bootstrap.bundle-5.0.0.alpha-min.js') }}">
    </body>
</html>
