
    {% if(app.user) %}
        {% if(is_granted('ROLE_ADMIN')) %}
    <nav class="navbar navbar-expand-lg bg-danger" >
        <div class="container-fluid">
           <div class="navbar-brand"> Administrateur </div>
            <div class="collapse navbar-collapse " id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" ><a href="{{ path('app_admin_register')}}" class="nav-link" title="Inscrire utilisateur">Inscrire utilisateur</a></li>
                <li class="nav-item" ><a href="{{ path('app_admin_liste_users')}}" class="nav-link" title="Liste utilisateurs">Liste utilisateurs</a></li>
                {# Je propose de rajouter ceci par rapport à la maquette vu qu'Hervé à dit de le faire faire par l'admin... #}
                <li class="nav-item"> <a href="{{ path('list_lieu')}}" title="Ajouter lieu de sortie"  class="nav-link">Gestion des Lieux</a></li>
                <li class="nav-item" > <a href="{{ path('ville_list')}}" title="Ajouter ville" class="nav-link">Gestion des villes</a></li>
                <li class="nav-item" > <a href="{{ path('campus_liste')}}" title="Ajouter campus" class="nav-link">Gestion des campus</a></li>
            </ul>
            </div>
        </div>
    </nav>
        {% endif %}
    {% endif %}
