{% extends 'base.html.twig' %}

{% block title %}{{ parent()  }} | Mon profil {% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="row">
    <div class="col-md-6 mb-4">

        <img src="{{ asset("uploads/" ~ user.image) }}" style="width: 200px" alt=" Photo de profil {{ user.prenom }}">
    </div>
    <div class="col-md-6 mb-4">

    <h3 style="margin: 100px">Mon profil </h3>
    </div>
</div>
                 {{ form_start(registrationForm) }}

<div class="card-body px-4 py-5 px-md-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                 {{ form_row(registrationForm.email) }}
                <div class="invalid-feedback">Veuillez saisir un nom</div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                 {{ form_row(registrationForm.motdepasse)}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                 {{ form_row(registrationForm.nom) }}
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                 {{ form_row(registrationForm.prenom) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
                 {{ form_row(registrationForm.pseudo) }}
            </div>
        </div>
        <div class="col-md-6 mb-4">
             <div class="form-outline mb-4">
                 {{ form_row(registrationForm.telephone) }}
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
             <div class="form-outline mb-4">
                {{ form_row(registrationForm.campus) }}
             </div>
        </div>
        <div class="col-md-6 mb-4">
             <div class="form-outline mb-4">

                 {{ form_row(registrationForm.image) }}
            </div>
        </div>
    </div>
    {% if(is_granted('ROLE_ADMIN')) %}
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">

                 {{ form_row(registrationForm.roles) }}
                </div>
            </div>

    {% endif %}
             <div class="col-md-6 mb-4">
                 <div class="form-outline mb-4">
                    <button type="submit" class="btn btn-dark btn-lg">Modifier</button>
                 </div>
            </div>
        </div>
</div>
{% endblock %}
