{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Profil de {{ user.pseudo }} {% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row" align="center">
        <div class="container-fluid">
            <div class="col-md-8 mb-4">
                <h3 style="text-align: center">  {{ user.pseudo }} </h3>
            </div>
            <div class="col-md-8 mb-4">
                <img src="{{ asset("uploads/" ~ user.image) }}" style="width: 200px" alt=" Photo de profil {{ user.prenom }}">
            </div>
            </div>
    </div>
    <div class="container-fluid" align="center">
        <div class="row">
             <ul class="list-group">
                 <li class="list-group-item list-group-item-dark">Nom :  {{ user.nom }}</li>
                 <li class="list-group-item list-group-item-dark">Prénom : {{ user.prenom }}</li>
                 <li class="list-group-item list-group-item-dark">Email : {{ user.email }}</li>
                 <li class="list-group-item list-group-item-dark">Telephone : {{ user.telephone }}</li>
                 <li class="list-group-item list-group-item-dark">Etudie au Campus de : {{ user.campus.nom }}</li>
             </ul>

        </div>
    </div>
{% endblock %}